ul.top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

li.top {
  float: left;
  z-index: 6;
}

li.top a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Oswald, sans-serif;
  z-index: 7;
}

/* Change the link color to #111 (black) on hover */
li.top a:hover {
  background-color: #111;
  z-index: 7;
}

.active {
  background-color: #4CAF50;
  z-index: 7;
}

/*

  margin-left: 25%;
  margin-right: 25%;
  max-width: 50%;
*/

h1.welc {
  padding-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  max-width: 50%;
}

h1.exp {
  padding-top: 50px;
  font-family: Oswald, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  max-width: 50%;
}

h1.res {
  padding-top: 50px;
  font-family: Oswald, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  max-width: 50%;
}

h1.disc {
  padding-top: 50px;
  font-family: Oswald, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  max-width: 50%;
}

h1.ref {
  padding-top: 50px;
  font-family: Oswald, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  max-width: 50%;
}

h1.home {
  padding-top: 80px;
  padding-bottom: 30px;
  font-family: Oswald, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  max-width: 50%;
  text-align: center;
}

h2.home {
  padding-top: 50px;
  font-family: Oswald, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  max-width: 50%;
}

img.home {
  position: relative;
  left: 30%;
  z-index: 2;
}

div.overview p {
  font-family: Oswald, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  word-wrap: break-word
}

p.introd {
  font-family: Oswald, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  word-wrap: break-word
}

div.matmet ul {
  font-family: Oswald, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  word-wrap: break-word
}

div.matmet ol {
  font-family: Oswald, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  word-wrap: break-word
}

div.matmet h2 {
  font-family: Oswlad, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  word-wrap: break-word
}

div.res p {
  font-family: Oswlad, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  word-wrap: break-word
}

div.introd p {
  font-family: Oswlad, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  word-wrap: break-word
}

.bib {
  font-family: Oswlad, sans-serif;
  margin-left: 25%;
  margin-right: 25%;
  word-wrap: break-word;
}

/* 
                ######################
--------========####INITIAL COMMIT####========--------
                ######################
All further style sheeting will be done below here!
*/



